.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.navbar__logo {
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__logo .mat-icon {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  font-size: 40px;
  color: var(--color-text);
}

.navbar__logo span {
  color: var(--color-text);
}

.navbar__buttons {
  width: 180px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__buttons button {
  width: 100px;
  border: none;
  background: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
  position: absolute;
  z-index: 20;
  font-size: 14px;

  transition: 0.3s ease;
}
.navbar__buttons button:hover {
  transform: scale(1.1);
  font-size: 14px;
  transition: 0.3s ease;
}
