
<div class="home">
    <app-navbar></app-navbar>
    <div class="home__content">
        <h1 class="animated fadeIn">{{'Experimente una nueva forma de administra dinero' | uppercase}}</h1>
        <h2  class="animated fadeIn">Alcance sus objetivos con información personalizada presupuestos personalizados, seguimiento de gastos y suscripción monitoreo, todo gratis.</h2>
        <div class="home__content--buttons animated fadeIn">
            <button mat-raised-button class="btn_register" routerLink="/registro">Registrarse</button>
            <button mat-raised-button class="btn_login" routerLink="/acceder">Iniciar Sesión</button>
        </div>

       
        <div class="home__content--layers">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
          </div>
    </div>
</div>
