.balance {
    width: 450px;
}

.balance h1 {
    text-align: center;
    line-height: 35px;
}

.balance p {
    margin: 15px 0;
    font-weight: 300;
    font-size: 15px;
}

.balance form {
    width: 100%;
    display: flex;
    flex-direction: column;
}