/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

:root {
  --background-theme: #1e1d80;
  --background-button-purple: #8c4bff;
  --background-button-yellow: #fee895;
  --color-text: #ffffff;
  --background-light-grandient: linear-gradient(
    190deg,
    #ebf4fd,
    hsla(0, 0%, 100%, 0) 45%
  );
}

.example-tooltip-green {
  background: #68f04d;
  color: #fff;
  font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*animated*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.img-logo {
  width: 100px;
}
