<div class="add">
    <h1>Agregar un Monto</h1>
    <span>Cuando se sobrepase el limite se mostrara una alerta</span>
    <form [formGroup]="formData">
        <mat-form-field appearance="legacy">
            <mat-label>Monto Limite</mat-label>
            <input type="number" formControlName="alert" matInput placeholder="2123.00">
            <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
        <button [disabled]="!formData.valid" color="primary" mat-raised-button (click)="saveAlert()">Guardar</button>
    </form>
</div>